<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>联系客服</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/commen.css">
	<link rel="stylesheet" href="stylesheets/contact.css">
</head>
<body>
	<div class="container-fluid box">
		<!-- 头 -->
		<div class="row head">
			<div class="container headTop">
				<div class="col-2"><a href=""><img src="../images/logo.png" alt="" class="logo"></a></div>
				<div class="col-6 change"><img src="../images/hoverImg.jpg" alt="" class="small">
		<img src="../images/big.jpg" alt="" class="big">		
				</div>
				<div class="col-4">
					<div class="row navList">
						<div class="col-8">
							<div class="d-flex">
								<div class="col"><a href="">登录</a></div>
								<div class="col"><a href="">注册</a></div>
								<div class="col"><a href="">充值</a></div>
								<div class="col"><a href="">商城</a></div>
								<div class="col"><a href="">论坛</a></div>
							</div>
						</div>
						<div class="col-4">
							<div class="game">
								<span>娱乐游戏</span>
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid nav">
				<div class="container">
					<a href="/"><img src="../images/kflogo.png" alt=""></a>
					<div class="d-flex sevNav">
						<a href="/service">首页</a>
						<a href="/select">服务查询</a>
						<a href="/online">在线客服</a>
						<a href="/contact">联系客服</a>
						<a href="/parents">家长监护</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row main">
			<div class="banner">
				<div class="container title">
					<span class="conc">联系客服<span>自助专区
						<div class="selSev">
							<ul class="gameCategory">
								<li class="active">客户端游戏</li>
								<li>电竞游戏</li>
								<li>网页游戏</li>
								<li>单机游戏</li>
								<li>平台产品</li>
								<div class="line"></div>
							</ul>
							
							<ul class="gameBox">
								
							</ul>
							<div class="tip">
								<div>
									<span class="newTip nt"></span>
									<span class="newG">最新游戏</span>
								</div>
								<div>
									<span class="newTip ht"></span>
									<span class="newG">热门游戏</span>
								</div>
							</div>
						</div>
					</span></span>
					<div class="right">
						<select name="" id="select">
							<option value="" selected disabled>全部游戏</option>
						</select>
						<input type="text" placeholder="请输入问题或服务编号" class="search">
						<button class="btn"></button>
					</div>
				</div>
			</div>
			
			<div class="row title">
				<div class="left">
					当前位置：
					<a href="/service">客服首页</a>>
					<span>联系客服</span>
				</div>
			</div>
			<div class="content">
				<div class="c-left">
					<div class="ways">
						<p class="w-title">在线客服</p>
						<p class="desc">通过在线客服快速、实时与客服交流</p>
						<a href="">联系在线客服</a>
					</div>
					<div class="ways">
						<p class="w-title">客服论坛</p>
						<p class="desc">在论坛提出您的问题，官方客服人员和玩家都将帮助您回答。</p>
						<a href="">进入论坛</a>
					</div>
					<div class="ways">
						<p class="w-title">客服电话</p>
						<p class="desc"></p>
						<p class="desc-box">
							<a href="" class="tel">端游客服电话：028-68729501</a>
							<span>（为了给您提供更快捷方便的服务，请点击<a href="">在线客服</a>）</span>
						</p>
						<p class="desc-box none">
							<a href="" class="tel">VIP客服电话：028-68723798</a>
						</p>
						
						<p class="desc-box">
							<a href="" class="tel">回访电话：(普通用户：028-68729515; 白金卡用户：028-68723600)</a>
							<span>（回访电话为来电显示号码，若您需要业务咨询请点击<a href="">在线客服</a>）</span>
						</p>
						
					</div>
					<div class="ways">
						<p class="w-title">投诉渠道</p>
						<p class="desc"></p>
						<a href="">投诉通道</a>
					</div>
					<div class="ways">
						<p class="w-title">接待服务</p>
						<p class="desc">面对面与客服交流，倾听您的心声。</p>
						<p class="warm">温馨提示：因新冠疫情防控工作需要，完美世界客服中心即日起暂停来访接待服务。具体恢复时间，另行通知，敬请谅解。</p>
						<div>
							<p>地址：成都市高新区天府软件园C区8号西楼</p>
							<p>时间：每周一至周日 10：00-17：00</p>
							<p>来访时请携带您的身份证件、注册账号填写的有效证件原件。以便我们尽快为您解决问题。</p>
						</div>
					</div>
				</div>
				<div class="c-right">
					<div class="login">
						<img src="../images/user_face.jpg" alt="">
						<div class="login_txt">
							亲，<a href="">登录</a>后
							可使用全部自助服务
						</div>
					</div>
					<div class="contactWay">
						<a href=""><img src="../images/share_wx.jpg" alt="">微信客服</a>
						<a href=""><img src="../images/vip.png" alt="">VIP中心</a>
						<a href=""><img src="../images/pgp.png" alt="">游戏平台</a>
						<a href=""><img src="../images/laohu.png" alt="">手游客服</a>
						<a href=""><img src="../images/passport.png" alt="">会员中心</a>
						<a href=""><img src="../images/young.png" alt="">未成年人关怀</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 底 -->
		<div class="row footer">
			<div class="container-fluid f-list">
				<div class="container">
					<a href="">公司介绍</a>
					<a href="">开发团队</a>
					<a href="">招聘信息</a>
					<a href="">联系我们</a>
					<a href="">法律声明</a>
					<a href="">用户协议</a>
					<a href="">隐私政策</a>
					<a href="">儿童隐私保护指引</a>
					<a href="">Cookie政策</a>
					<a href="">纠纷处理</a>
					<a href="">网站地图</a>
				</div>
			</div>
			<div class="container">
				<p>京ICP证：050016号  《网络文化经营许可证》编号：文网文【2017】8929-1007号  《网络视听许可证》编号：0110587  京公网安备11010502033859号</p>
				<p>© 完美世界 版权所有　Perfect World. All Rights Reserved.</p>
				<div class="bot">
					<a href=""><img src="../images/bot_img1.png" alt=""></a>
					<a href=""><img src="../images/bot_img2.png" alt=""></a>
				</div>
			</div>
		</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/service.js"></script>
	<script src="javascripts/search.js"></script>
</body>
</html>