<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>在线客服</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/commen.css">
	<link rel="stylesheet" href="stylesheets/online.css">
</head>
<body>
	<div class="container-fluid box">
		<!-- 头 -->
		<div class="row head">
			<div class="container headTop">
				<div class="col-2"><a href=""><img src="../images/logo.png" alt="" class="logo"></a></div>
				<div class="col-6 change"><img src="../images/hoverImg.jpg" alt="" class="small">
		<img src="../images/big.jpg" alt="" class="big">		
				</div>
				<div class="col-4">
					<div class="row navList">
						<div class="col-8">
							<div class="d-flex">
								<div class="col"><a href="">登录</a></div>
								<div class="col"><a href="">注册</a></div>
								<div class="col"><a href="">充值</a></div>
								<div class="col"><a href="">商城</a></div>
								<div class="col"><a href="">论坛</a></div>
							</div>
						</div>
						<div class="col-4">
							<div class="game">
								<span>娱乐游戏</span>
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid nav">
				<div class="container">
					<a href="/"><img src="../images/kflogo.png" alt=""></a>
					<div class="d-flex sevNav">
						<a href="/service">首页</a>
						<a href="/select">服务查询</a>
						<a href="/online">在线客服</a>
						<a href="/contact">联系客服</a>
						<a href="/parents">家长监护</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row main">
			<div class="banner">
				<div class="container title">游戏选择</div>
			</div>
			<div class="container games">
				<div class="kinds">
					<div class="intro">
						<p>客户端游戏</p>
					</div>
					<div class="list one">
					</div>
				</div>
				<div class="kinds">
					<div class="intro">
						<p>电竞游戏</p>
					</div>
					<div class="list two">
					</div>
				</div>
				<div class="kinds">
					<div class="intro">
						<p>网页游戏</p>
					</div>
					<div class="list three">
					</div>
				</div>
				<div class="kinds">
					<div class="intro">
						<p>平台产品</p>
					</div>
					<div class="list four">
					</div>
				</div>
			</div>
		</div>
		<!-- 底 -->
		<div class="row footer">
			<div class="container-fluid f-list">
				<div class="container">
					<a href="">公司介绍</a>
					<a href="">开发团队</a>
					<a href="">招聘信息</a>
					<a href="">联系我们</a>
					<a href="">法律声明</a>
					<a href="">用户协议</a>
					<a href="">隐私政策</a>
					<a href="">儿童隐私保护指引</a>
					<a href="">Cookie政策</a>
					<a href="">纠纷处理</a>
					<a href="">网站地图</a>
				</div>
			</div>
			<div class="container">
				<p>京ICP证：050016号  《网络文化经营许可证》编号：文网文【2017】8929-1007号  《网络视听许可证》编号：0110587  京公网安备11010502033859号</p>
				<p>© 完美世界 版权所有　Perfect World. All Rights Reserved.</p>
				<div class="bot">
					<a href=""><img src="../images/bot_img1.png" alt=""></a>
					<a href=""><img src="../images/bot_img2.png" alt=""></a>
				</div>
			</div>
		</div>
		
	</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/online.js"></script>
</body>
</html>