<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>服务查询</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/commen.css">
	<link rel="stylesheet" href="stylesheets/select.css">
</head>
<body>
	<div class="container-fluid box">
		<!-- 头 -->
		<div class="row head">
			<div class="container headTop">
				<div class="col-2"><a href=""><img src="../images/logo.png" alt="" class="logo"></a></div>
				<div class="col-6 change"><img src="../images/hoverImg.jpg" alt="" class="small">
		<img src="../images/big.jpg" alt="" class="big">		
				</div>
				<div class="col-4">
					<div class="row navList">
						<div class="col-8">
							<div class="d-flex">
								<div class="col"><a href="">登录</a></div>
								<div class="col"><a href="">注册</a></div>
								<div class="col"><a href="">充值</a></div>
								<div class="col"><a href="">商城</a></div>
								<div class="col"><a href="">论坛</a></div>
							</div>
						</div>
						<div class="col-4">
							<div class="game">
								<span>娱乐游戏</span>
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid nav">
				<div class="container">
					<a href="/"><img src="../images/kflogo.png" alt=""></a>
					<div class="d-flex sevNav">
						<a href="/service">首页</a>
						<a href="/select">服务查询</a>
						<a href="/online">在线客服</a>
						<a href="/contact">联系客服</a>
						<a href="/parents">家长监护</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row main">
			<div class="banner">
				<div class="container title">
					<span class="conc">服务查询<span>自助专区
						<div class="selSev">
							<ul class="gameCategory">
								<li class="active">客户端游戏</li>
								<li>电竞游戏</li>
								<li>网页游戏</li>
								<li>单机游戏</li>
								<li>平台产品</li>
								<div class="line"></div>
							</ul>
							
							<ul class="gameBox">
								
							</ul>
							<div class="tip">
								<div>
									<span class="newTip nt"></span>
									<span class="newG">最新游戏</span>
								</div>
								<div>
									<span class="newTip ht"></span>
									<span class="newG">热门游戏</span>
								</div>
							</div>
						</div>
					</span></span>
					<div class="right">
						<select name="" id="select">
							<option value="" selected disabled>全部游戏</option>
						</select>
						<input type="text" placeholder="请输入问题或服务编号" class="search">
						<button class="btn"></button>
					</div>
				</div>
			</div>
			
			<div class="row title">
				<div class="left">
					当前位置：
					<a href="/service">客服首页</a>>
					<span>服务查询</span>
				</div>
			</div>
			<div class="content">
				<div class="c-left">
					<div class="result">
						<div class="result_nav">
							<span class="active">处理中的问题</span>
							<span>已处理的问题</span>
						</div>
						<table>
							<tbody>
								<tr>
									<th>服务号</th>					
									<th>所属游戏</th>
									<th>提交时间</th>
									<th>服务内容</th>
									<th>当前状态</th>
									<th>后续操作</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="c-right">
					<div class="login">
						<img src="../images/user_face.jpg" alt="">
						<div class="login_txt">
							亲，<a href="">登录</a>后
							可使用全部自助服务
						</div>
						<hr class="line1">
						<div class="userOper">
							<p>普通用户</p>
							<span>退出</span>
						</div>
						<div class="save">账号安全</div>
						<hr class="line2">
						<ul class="btns">
							<li></li>
							<li class="on"></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="contactWay">
						<a href=""><img src="../images/share_wx.jpg" alt="">微信客服</a>
						<a href=""><img src="../images/vip.png" alt="">VIP中心</a>
						<a href=""><img src="../images/pgp.png" alt="">游戏平台</a>
						<a href=""><img src="../images/laohu.png" alt="">手游客服</a>
						<a href=""><img src="../images/passport.png" alt="">会员中心</a>
						<a href=""><img src="../images/young.png" alt="">未成年人关怀</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 底 -->
		<div class="row footer">
			<div class="container-fluid f-list">
				<div class="container">
					<a href="">公司介绍</a>
					<a href="">开发团队</a>
					<a href="">招聘信息</a>
					<a href="">联系我们</a>
					<a href="">法律声明</a>
					<a href="">用户协议</a>
					<a href="">隐私政策</a>
					<a href="">儿童隐私保护指引</a>
					<a href="">Cookie政策</a>
					<a href="">纠纷处理</a>
					<a href="">网站地图</a>
				</div>
			</div>
			<div class="container">
				<p>京ICP证：050016号  《网络文化经营许可证》编号：文网文【2017】8929-1007号  《网络视听许可证》编号：0110587  京公网安备11010502033859号</p>
				<p>© 完美世界 版权所有　Perfect World. All Rights Reserved.</p>
				<div class="bot">
					<a href=""><img src="../images/bot_img1.png" alt=""></a>
					<a href=""><img src="../images/bot_img2.png" alt=""></a>
				</div>
			</div>
		</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/service.js"></script>
	<script src="javascripts/search.js"></script>
</body>
</html>