<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>客服中心</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/commen.css">
	<link rel="stylesheet" href="stylesheets/service.css">
</head>
<body>
	<a href="/online" class="fixed"><img src="../images/avatar.png" alt=""></a>
	<img src="../images/gotop.gif" alt="" class="goTop">
	<div class="container-fluid box">
		<!-- 头 -->
		<div class="row head">
			<div class="container headTop">
				<div class="col-2"><a href=""><img src="../images/logo.png" alt="" class="logo"></a></div>
				<div class="col-6 change"><img src="../images/hoverImg.jpg" alt="" class="small">
		<img src="../images/big.jpg" alt="" class="big">		
				</div>
				<div class="col-4">
					<div class="row navList">
						<div class="col-8">
							<div class="d-flex">
								<div class="col"><a href="">登录</a></div>
								<div class="col"><a href="">注册</a></div>
								<div class="col"><a href="">充值</a></div>
								<div class="col"><a href="">商城</a></div>
								<div class="col"><a href="">论坛</a></div>
							</div>
						</div>
						<div class="col-4">
							<div class="game">
								<span>娱乐游戏</span>
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid nav">
				<div class="container">
					<a href="/"><img src="../images/kflogo.png" alt=""></a>
					<div class="d-flex sevNav">
						<a href="/service">首页</a>
						<a href="/select">服务查询</a>
						<a href="/online">在线客服</a>
						<a href="/contact">联系客服</a>
						<a href="/parents">家长监护</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row main">
			<div class="mainTop">
				<div class="slideBox">
					<!-- 轮播图 -->
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <img src="../images/slide1.jpg" class="d-block h-100" alt="...">
					    </div>
					    <div class="carousel-item">
					      <img src="../images/slide2.jpg" class="d-block h-100" alt="...">
					    </div>
					    <div class="carousel-item">
					      <img src="../images/slide3.jpg" class="d-block h-100" alt="...">
					    </div>
						<div class="carousel-item">
						  <img src="../images/slide4.jpg" class="d-block h-100" alt="...">
						</div>
					  </div>
					</div>
				</div>
				
				<div class="mainBox">
					<div class="row title">
						<div class="left">
							热门推荐
							<span>Top Recommended</span>
						</div>
						<div class="right">
							<select name="gameType" id="select">
								<option value="" selected disabled>全部游戏</option>
							</select>
							<input type="text" placeholder="请输入问题或服务编号" class="search" value="" name="keyword">
							<button class="btn"></button>
						</div>
					</div>
					<div class="row list">
						<div class="li">
							<div class="card">
							<a href="" class="cBox"><img src="../images/tj1.jpg" class="card-img-top" alt="...">
							<div class="hover">
							  <p class="kind">账号服务</p>
							  <p class="self">自助服务</p>
							</div>
							</a>
							  <ul class="card-body">
							    <li><a href="">修改密码</a></li>
							    <li><a href="">清空仓库密码</a></li>
							    <li><a href="">举报诈骗/不良网址</a></li>
							    <li><a href="">修改邮箱</a></li>
							  	<li><a href="" class="more">更多自助服务></a></li>
							  </ul>
							</div>
						</div>
						<div class="li"><div class="card">
							  <a href="" class="cBox"><img src="../images/tj2.jpg" class="card-img-top" alt="...">
							  <div class="hover">
								<p class="kind">诛仙3</p>
								<p class="self">自助服务</p>
							  </div>
							  </a>
							  <ul class="card-body">
							    <li><a href="">解绑密保卡</a></li>
							    <li><a href="">找回被盗物品</a></li>
							    <li><a href="">网页自助封停</a></li>
							    <li><a href="">物品流向自助查询</a></li>
								<li><a href="" class="more">更多自助服务></a></li>
							  </ul>
							</div></div>
						<div class="li"><div class="card">
							  <a href="" class="cBox"><img src="../images/tj3.jpg" class="card-img-top" alt="...">
							  <div class="hover">
								<p class="kind">完美国际</p>
								<p class="self">自助服务</p>
							  </div>
							  </a>
							  <ul class="card-body">
							    <li><a href="">找回被盗物品</a></li>
							    <li><a href="">忘记账号找回</a></li>
							    <li><a href="">网页自助封停</a></li>
							    <li><a href="">自助封停解封</a></li>
							  	<li><a href="" class="more">更多自助服务></a></li>
							  </ul>
							</div></div>
						<div class="li"><div class="card">
							  <a href="" class="cBox"><img src="../images/tj4.jpg" class="card-img-top" alt="...">
							  <div class="hover">
								<p class="kind">笑傲江湖</p>
								<p class="self">自助服务</p>
							  </div>
							  </a>
							  <ul class="card-body">
							    <li><a href="">修改邮箱</a></li>
							    <li><a href="">元宝流水查询</a></li>
							    <li><a href="">解绑密保卡</a></li>
							    <li><a href="">全服角色查询</a></li>
							  	<li><a href="" class="more">更多自助服务></a></li>
							  </ul>
							</div></div>
					</div>
					<div class="row bot">
						<div class="selSev">
							<div class="title">选择自助服务专区</div>
							<ul class="gameCategory">
								<li class="active">客户端游戏</li>
								<li>电竞游戏</li>
								<li>网页游戏</li>
								<li>单机游戏</li>
								<li>平台产品</li>
								<div class="line"></div>
							</ul>
							<ul class="gameBox">
							</ul>
							<div class="tip">
								<div>
									<span class="newTip nt"></span>
									<span class="newG">最新游戏</span>
								</div>
								<div>
									<span class="newTip ht"></span>
									<span class="newG">热门游戏</span>
								</div>
							</div>
						</div>
						<div class="talk">
							<div class="public">
								<div class="pTitle">公告<a href="">更多>></a></div>
								<ul>
									<li><a href="">电话系统升级公告</a><span class="num"></span><span class="time">2019-04-16</span></li>
									<li><a href="">微信活动中奖名单</a><span class="num"></span><span class="time">2018-06-29</span></li>
									<li><a href="">邮件系统升级公告</a><span class="num"></span>N<span class="time">2018-02-28</span></li>
									<li><a href="">微信活动中奖名单</a><span class="num"></span><span class="time">2018-02-13</span></li>
									<li><a href="">个别服务优化公告</a><span class="num"></span><span class="time">2018-01-24</span></li>
								</ul>
							</div>
							<div class="other">
								<a href=""><img src="../images/share_wx.jpg" alt="">微信客服</a>
								<a href=""><img src="../images/vip.png" alt="">VIP中心</a>
								<a href=""><img src="../images/pgp.png" alt="">游戏平台</a>
								<a href=""><img src="../images/laohu.png" alt="">手游客服</a>
								<a href=""><img src="../images/passport.png" alt="">会员中心</a>
								<a href=""><img src="../images/young.png" alt="">未成年人关怀</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底 -->
		<div class="row footer">
			<div class="container-fluid f-list">
				<div class="container">
					<a href="">公司介绍</a>
					<a href="">开发团队</a>
					<a href="">招聘信息</a>
					<a href="">联系我们</a>
					<a href="">法律声明</a>
					<a href="">用户协议</a>
					<a href="">隐私政策</a>
					<a href="">儿童隐私保护指引</a>
					<a href="">Cookie政策</a>
					<a href="">纠纷处理</a>
					<a href="">网站地图</a>
				</div>
			</div>
			<div class="container">
				<p>京ICP证：050016号  《网络文化经营许可证》编号：文网文【2017】8929-1007号  《网络视听许可证》编号：0110587  京公网安备11010502033859号</p>
				<p>© 完美世界 版权所有　Perfect World. All Rights Reserved.</p>
				<div class="bot">
					<a href=""><img src="../images/bot_img1.png" alt=""></a>
					<a href=""><img src="../images/bot_img2.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/service.js"></script>
	<script src="javascripts/search.js"></script>
</body>
</html>